<h1 class="top-headline"><%= @family.last_name %>—Financial, <%= month_day_ordinal(@form.submitted_at) %> Submission <%= @form.submission_count %></h1>

<div class="student-info">
  <h2>(<%= @students.length %>) Students</h2>

  <ul>
    <% @lesson_periods.each do |lesson_period| %>
      <li class="lesson-period">
        <p>Name: <%= lesson_period.student.name %></p>
        <p>Instrument: <%= lesson_period.instrument.name %></p>
        <p>Teacher: <%= lesson_period.teacher.first_name %> <%= lesson_period.teacher.last_name %></p>
        <p><%= lesson_period.lesson_count %> Lessons</p>
    
        <table>
          <thead>
            <tr>
              <th>Week</th>
              <th>Lesson?</th>
            </tr>
          </thead>
          <tbody>
            <% lesson_period.weeks.each do |week| %>
              <% lesson = week.lesson ? "Yes" : "No" %>
               <tr>
                 <td><%= week.week_string %> - </td>
                 <td><%= lesson %></td>
               </tr> </li>
            <% end %>
          </tbody>

        </table>

      </li>
    <% end %>
  </ul>

</div>

<h3 class="total-owed">Total owed: <span><%= @form.total_cost %></span></h3>
<br>
<h3 class="total-owed">Payment Plan:</h3>
<% payment = @form.total_cost[1..-1].to_i / 3 %>
<ul>
  <br>
  <li>June 1: <span><%= "$#{payment}" %></span></li>
  <li>July 1: <span><%= "$#{payment}" %></span></li>
  <li>August 1: <span><%= "$#{payment}" %></span></li>
</ul>


