<% email = @app_settings["adminEmail"].value %>
<% phone = @app_settings["adminPhone"].value %>
<% deadline = parse_js_date_string(@app_settings["displayedSubmissionDeadline"].value)%>
<div class="modal fade" id="welcomeMessage" tabindex="-1" role="dialog" aria-labelledby="welcomeTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="welcomeTitle">Welcome to our DMS online scheduling app! (Submission deadline—<%= month_day_ordinal(deadline) %>)</h4>
      </div>
      <div class="modal-body">
        <p><%=raw @content_entries["welcomePopupBody"].value %></p>

        <p>Email: <a href="mailto:<%= email %>"><%= email %></a><br>
          Phone: <a class="phone-number" href="tel:<%= phone %>"><%= phone %></a></p>
        <p><em><%=raw @content_entries["welcomePopupMobileWarning"].value %></em></p>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>