<!DOCTYPE html>
<html>
  <head>
    <title>DMS Summer Form</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% top = ''; top = 'top' if key == 'error' || key =='alert' %> 
      <% key = 'danger' if key == 'error' %>
      <% key = 'info' if key == 'notice' %>
      <% key = 'warning' if key == 'alert' %>

      <div class="alert alert-<%= key %> <%= top %>">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p><%= value %></p>
      </div>
    <% end %>
    <%= yield %>
    <footer id="siteFooter" class="footer">
      <div class="container">
        <%= render 'devise/shared/links' %>
        <p class="muted"></p>
      </div>
    </footer>
  </body>
</html>
