<!DOCTYPE html>
<html>
  <head>
    <title>DMS Summer Form</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <%= react_component 'FlashMessages', { messages: flash_messages } %> -->
    <%= yield %>
    <footer id="siteFooter" class="footer">
      <div class="container">
        <%= render 'devise/shared/links' %>
      </div>
    </footer>
  </body>
</html>
